
$othello_green:#008000;

body{
  text-align: center;
  margin: auto;
  width:320px;
  height:480px;
}
table{
  margin: auto;
  margin-top: 30px;
  padding: 0.125em 0.125em;
}
td.cell{
  background: $othello_green;
  border: 1px solid #ddd;
  width: 2em;
  height:2em;
  margin: 0.25em;
  span.piece{
    display: inline-block;
    border-radius: 1em;
    width: 80%;
    height:80%;
  }
  span.white{
    background: #fff;
  }
  span.black{
    background: #000;
  }
  span.empty{
    background: #070;
  }
}

/* progress-bar */
#complexion-title{
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
div#complexion {
  width: 90%;
  margin-left: 5%;
  margin-top:  3%;
  /*border: 1px solid #000;*/
}
.progress-bar-black#complexion-black {
  background-color: #333;
  color: #fff;
}
.progress-bar-white#complexion-white {
  background-color: #eee;
  color: #000;
}