body {
  text-align: center;
}

table {
  margin: 0;
  padding: 0.125em 0.125em;
}

td.cell {
  background: #090;
  border: 1px solid #ddd;
  width: 2em;
  height: 2em;
  margin: 0.25em;
}
td.cell span.piece {
  display: inline-block;
  border-radius: 1em;
  width: 100%;
  height: 100%;
}
td.cell span.white {
  background: #fff;
}
td.cell span.black {
  background: #000;
}
td.cell span.empty {
  background: #009;
}
