body {
  text-align: center;
  margin: auto;
  width: 320px;
}

table {
  margin: auto;
  padding: 0.125em 0.125em;
}

td.cell {
  background: green;
  border: 1px solid #ddd;
  width: 2em;
  height: 2em;
  margin: 0.25em;
}
td.cell span.piece {
  display: inline-block;
  border-radius: 1em;
  width: 80%;
  height: 80%;
}
td.cell span.white {
  background: #fff;
}
td.cell span.black {
  background: #000;
}
td.cell span.empty {
  background: #070;
}
