
$othello_green:#008000;

body{
  text-align: center;
  margin: auto;
  width:320px;
}
table{
  margin: auto;
  padding: 0.125em 0.125em;
}
td.cell{
  background: $othello_green;
  border: 1px solid #ddd;
  width: 2em;
  height:2em;
  margin: 0.25em;
  span.piece{
    display: inline-block;
    border-radius: 1em;
    width: 80%;
    height:80%;
  }
  span.white{
    background: #fff;
  }
  span.black{
    background: #000;
  }
  span.empty{
    background: #070;
  }
}