!!!
%haml{:lang => "ja"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{'http-equiv' => 'Expires', :content=>"0"}
    %meta{:name=>'viewport', :content=>'minimum-scale=1.0, maximum-scale=2.0, initial-scale=1.0'}
    %link{:rel => "stylesheet", :href => "css/basic.css"}
    %link{:rel => "stylesheet", :href => "css/bootstrap.css"}
    / %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
    / %script(src="http://code.jquery.com/jquery-1.11.1.min.js")
    %script(src="./js/jquery-1.11.1.min.js")
    %script(src="./js/jquery.parse.min.js")
    %script(src="./js/jquery.periodicalupdater.js")
    %title Web_GUI
  %body
    %div#board_div
    %h3#complexion-title Complexion:
    %div.progress#complexion
      %div.progress-bar.progress-bar-black#complexion-black
      %div.progress-bar.progress-bar-white#complexion-white
    / %p= hello
  :javascript

      var board_len, state;
      var str_state = ["white", "empty", "black", "out"];

      var parseCsv = function(csv_st){
        var lines = csv_st.responseText.split("\n");
          board_len = lines[0].split(",").length;
          state = [];
          for(var k = 0; k < board_len; ++k){
            var new_line = [];
            for(var i = 0; i < board_len; ++i){
              var line = lines[i].split(",");
              new_line.push(line[k]);
            }
            state.push(new_line);
          }
      }

      var reloadCsv = function(){
          var csv_state =
            $.ajax('./state_for_read.csv', {
              dataType: 'text',
              error: function(xhr, message){
                console.log('CSV file cannot be found', message);
                allert('error');
              },
              success: function(data){
                csv = $.parse(data, {
                    delimeter: ',',
                    header: false
                  });
                },
                async: false
              });
          parseCsv(csv_state);
      }


      var showBoard = function(){
          $("#board_div").html('');

          reloadCsv();

          var str_accum = [];
          str_accum.push("<table>");

          for(var y = 0; y < board_len; ++y){
            str_accum.push("<tr>");
            if( y !== 0 ){
              str_accum.push("<th>" + "01234567890"[y] + "  </th>");
            }else{
              str_accum.push("<th> </th>");
            }
            for(var x = 0; x < board_len; ++x){
              if( x !== 0 ){
                if( y === 0 ){
                  str_accum.push("<th>" + "Xabcdefghij"[x] + "</th>")
                }else {
                  str_accum.push("<td id='"+ x + "" + y +"' class='cell' >");
                  var nm = str_state[ parseInt(state[x][y]) + 1 ];
                  console.log(nm);
                  str_accum.push("<span class='piece ");
                  str_accum.push(nm);
                  str_accum.push("'></span></td>");
                }
              }
            }

            str_accum.push("</tr>");
          }
          str_accum.push("</table>");
          $("#board_div").append(str_accum.join(''));
      }
      var rewriteBoard = function(){

          reloadCsv();
          for(var y = 0; y < board_len; ++y){
            for(var x = 0; x < board_len; ++x){
              if( x !== 0 ){
                if( y === 0 ){
                }else {
                  var idName = '#' + x + y + ">span";
                  var nm = str_state[ parseInt(state[x][y]) + 1 ];
                  for(var z = 0; z < str_state.length; ++z){
                    $(idName).removeClass(str_state[z]);
                  }
                  $(idName).addClass(nm);
                }
              }
            }
          }
      };

      var countNum = function(color_string){
        var num = 0;
        for(var y = 1; y < board_len; ++y){
          for(var x = 1; x < board_len; ++x){
            var idName = '#' + x + y + ">span";
            if( $(idName).attr('class').indexOf(color_string) !== -1 )
              num++;
          }
        }
        return num;
      }

      var winnerIs = function(){
        var blk = countNum("black");
        var wht = countNum("white");
        if( blk > wht ){
          $("#board_div").append("black WIN \n");
        }else if( blk < wht ){
          $("#board_div").append("white WIN \n");
        }else{
          $("#board_div").append("draw \n");
        }
      };

      var rewriteComplexion = function(){
        var blk = countNum("black");
        var wht = countNum("white");
        var all = blk + wht;
        var blk_width = blk / all * 100;
        var wht_width = wht / all * 100;
        $('#complexion-black').attr('style', 'width:' + blk_width + '%');
        $('#complexion-white').attr('style', 'width:' + wht_width + '%');
        $('#complexion-black').html( blk );
        $('#complexion-white').html( wht );
      }

      showBoard();
      var timer = setInterval(function(){
          rewriteBoard();
          rewriteComplexion();
          if ( countNum("empty") === 0 ){
            winnerIs();
            clearInterval(timer);
          }
          $("#board_div").append(" X");
        }, 3000);

