!!!
%haml{:lang => "ja"}
  %head
    %meta{:charset => "UTF-8"}
    / %link{:rel => "stylesheet", :href => "css/basic.css"}
    / %script(src="js/jquery-2.1.0.js")
    %title Othello_Web_GUI
  %body
    %p 